body {
	background: #ffffff;
	font-family: Arial;
	font-size: 10px;
	position: relative;
	min-height: 100%;
	margin: 0;
	color: #777777;
}
body h1{
	
}
body h2{
	
}
body h3, body h3 a{
	font-size: 12px;
	line-height: 22px;	
}
body p{
	padding: 8px 0px 8px 0px;
}
body a{
	color: #777777;
	font-size: 10px;
	text-decoration: none;
}
html {
	height: 100%;
}
a,span,p,li {
	font-size: 10px;	
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  /*font: inherit;*/
  vertical-align: baseline;
}

footer{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
} 

/*___________________________________________________________________________________________________________________________________*/

/*___Header___*/
header{
	padding: 47px 0px 40px 0px;	
}
.header{
	width: 1049px;
	margin: 0px auto;
	position: relative;
	height: 60px;
}
.first a
{
	height: 16px;
	width: 26px;
	display: block;
	background-image: url("/images/home.png");
	background-position: right;
	background-repeat: no-repeat;

}
.last a
{
	height: 16px;
	width: 26px;
	display: block;
	background-image: url("/images/about.png");
	background-position: right;
	background-repeat: no-repeat;

}
.contactl a
{
	height: 16px;
	width: 26px;
	display: block;
	background-image: url("/images/contactl.png");
	background-position: right;
	background-repeat: no-repeat;
}
a#logo{
	width: 332px;
	height: 60px; 
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: 400;
	font-size: 60px;
	color: #9a9a9a;	
}
.header_text{
	width: 300px;
	height: 40px;
	padding: 20px 0px 0px 30px;
	color: #a3a3a3;
	font-weight: 400;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 280px;
	
}
.menu{
	padding: 15px 0px 0px 0px;
}
.menu li a{
	color: #777777;
	font-size: 10px;
	text-decoration: none;
	
}
/*___Content___*/
.wrapper{
	padding: 35px 0 60px 0;
}
.text_img{
	float: left;
	padding: 20px 20px 20px 0;
}
.presentation_img{
	float: left;
	padding: 0px 20px 20px 0px;
}
.presentation_block{
	height: 260px;
}
.info_menu {
	background: #DDDDDD;
	width: 100%;
	height: 20px;
}
.info_menu ul{
	display: block;
	height: auto;
	width: 1049px;
	margin: 0px auto;		
}
.info_menu ul li{
	height: 20px;
	width: 190px;
	float: left;
	list-style: none;
	padding: 0px 24px 0px 0px;
	position: relative;
}
.info_menu ul li:hover {
	color: #e77777;	
}
.info_menu ul li:last-child{
	padding: 0px 0px 0px 0px;
}
.info_menu ul li h3{
	font-size: 10px;
	font-weight: 400;
	line-height: 20px;	
}
.info_menu ul li a{
	height: 20px;
	text-align: center;
}
.info_menu ul li.m_hover a{
	height: 20px;
	background: #c3c3c3;
	background: -moz-linear-gradient(top, #DDDDDD, #c3c3c3);
	display: block;	
	color: #ffffff;
}
/*___Buttons___*/
.button{
    background:	#dddddd;
    border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 25px 5px 25px;
	line-height: 12px;
	font-size: 12px;
    height: auto;
    width: auto;	
}
.menu_button{
	padding: 0px 0px 0px 10px;
}

/*___menu____*/
.triangle_l2 {
  border-color: #dddddd transparent transparent transparent;
  border-style: solid;
  border-width: 8px;
  height: 0;
  position: absolute;
  width: 0;
  left: 90px;
  position: absolute;
  bottom: -16px;
}
.m_hover .triangle_l2{
	border-color: #c3c3c3 transparent transparent transparent;
}