.main_info_block{
	background: #e9e9e9;
	width: 100%;
}
.main_info_block h3, .main_info_block h3 a{
font-size: 14px;
line-height: 22px;
font-weight: 400;
color: #6a6969;
}
.main_info_block ul{
	display: block;
	height: auto;
	width: 1049px;
	margin: 0px auto;
		
}

.main_info_block ul li{
	height: 386px;
	width: 190px;
	float: left;
	list-style: none;
	padding: 11px 24px 0px 0px;
	position: relative;
}
.main_info_block ul li:hover {
	color: #e77777;
	
}
.main_info_block ul li:last-child{
	padding: 11px 0px 0px 0px;
}
.question_text{
	padding: 35px 5px 0px 15px;
}
.p_style p{
	padding: 3px 0px 3px 10px!important;
	background: url(/images/round.png) no-repeat 0px 7px;
}
  .triangle_l1 {
    border-color: transparent transparent #4A8FBE transparent;
    border-style: solid;
    border-width: 8px;
    height: 0;
    position: absolute;
    width: 0;
    left: 90px;
    position: absolute;
    bottom: 0px;
}
.block_l1{
	height: 18px;
    position: absolute;
    width: 175px;
    left: 12px;
    bottom: -18px;
    background: #4A8FBE;
   /* background: -moz-linear-gradient(top,  #c3c3c3,  #DDDDDD);*/
	/* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85ACC6', endColorstr='#4A8FBE'); */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#4A8FBE), to(#85ACC6));  */
	/*background: -moz-linear-gradient(center top , #4A8FBE, #85ACC6)*/

	
}
.triangle_box{
	height: 18px;
	background: #DDDDDD;
}

.block_l2{
	height: 148px;
    position: absolute;
    width: 175px;
    left: 12px;
    bottom: -166px;
	background: url(/images/block_bg.png) repeat-x;
	
}