<div class="footer">
<p class="">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => "Kadoinvest") %>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp|&nbsp Home &nbsp&nbsp&nbsp&nbsp About &nbsp&nbsp&nbsp&nbsp          Contacts
</p>

<div>