<div class="header">
  <a href="/" id="logo">

    <img class="" width="332" height="60" style="" src="/images/logo1.png" title="kadoinvest" alt="kadoinvest">
  </a>
<div class="left">
<h2 class="header_text">Организовывает вид на <br/> жительство в Европе за 47 дней</h2>
</div>
<div class="right">
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
</div>
<div class="clear"></div>
</div>