<div class="header">
<h1 id='logo' class="left">
  <a href="/">
    <img class="" width="332" height="60" style="" src="/images/logo.png" title="kadoinvest" alt="kadoinvest">
  </a>
</h1>
<div class="left">
<h2 class="header_text">Организовывает вид на <br/> жительство в Европе за 47 дней</h2>
</div>
<div class="right">
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
</div>
<div class="clear"></div>
</div>