<div class="wrapper">
	<section id='body_content'>
	<h1>Спасибо</h1>
	<p>Ваш запрос успешно отправлен, ожидайте ответа, будем рады сотрудничать с Вами.</p>
	<div class="clear"></div> 
	 <a href="/contact">Назад</a>
	</section>
</div> 